<div class="container-fluid home ">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col-2"></div>
                <div class="col">
                    <div class="logo">
                        <img src="assets/anders_reizen.png">
                    </div>
                    <div class="form-container">
                        <h1 class="and-h1 pb-4">Welkom,</h1>
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
        <div class="col m-0 p-0">
            <div class="full-wall"></div>
        </div>
    </div>
</div>
