<div class="data-invoer-container ">
    <div class="row">
        <h1 class="and-h1-normal">Mobiliteitfootprint</h1>
    </div>
    <div class="row">
        <div [ngClass]="alertType === 'FAIL' ? 'alert alert-danger ': 'alert alert-success '" role="alert"
             *ngIf="showAlter" style="position: fixed; top: 30px;z-index: 99999;left: 30%;width: 40%">
            <p style="margin-bottom: 0px">{{alertMessage}}</p>
        </div>
        <app-tab-panel>

            <div class="tab-content" data-tab="0">
                <form [formGroup]="wagenparkTypeForm">
                    <div class="row ">
                        <div class="col-8 p-0">
                            <app-panel size="5">
                                <app-input-field label="Rapportagejaar:" placeholder="2019"
                                                 [required]="true"
                                                 [fieldName]="'Rapportagejaar'"
                                                 [fGroup]="wagenparkTypeForm"
                                                 (change)="updateField($event,'','year','zakelijk_reizen','')"
                                                 [value]="zakelijk_reizen[0].year"></app-input-field>
                            </app-panel>
                        </div>
                    </div>
                    <div class="row " *ngFor="let data of zakelijk_reizen; let i = index">

                        <div class="col-8 p-0 mt-4">
                            <app-content-panel [title]="data.wagenparkType">
                                <span class="mb-2 offset-8" style="font-size: 12px">Velden met een <span class="red-star">*</span> zijn verplicht indien beschikbaar.</span>
                                <div class="row pl-4 pr-2 pb-4 pt-2">

                                                           <span *ngFor="let fuelType of data.fuelType">
                                                          <h2 class="and-h2-normal">{{fuelType.type}}</h2>
                                                            <div class="col-12">
                                                                <div class="inline-fields">
                                                                   <app-input-field type="number" label="Aantal:"
                                                                                    placeholder="5747"
                                                                                    [fieldName]="fuelType.field+'aantal'"
                                                                                    [fGroup]="wagenparkTypeForm"
                                                                                    (change)="updateField($event,fuelType.field,'Aantal','zakelijk_reizen', data.wagenparkType)"
                                                                                    [value]="fuelType.Aantal"></app-input-field>
                                                                    <app-input-field type="text" label="Aandeel:"
                                                                                     placeholder="5747"
                                                                                     [fieldName]="fuelType.field+'aandeel'"
                                                                                     [disabled]="true"
                                                                                     [fGroup]="wagenparkTypeForm"
                                                                                     (change)="updateField($event,fuelType.field,'Emissie','zakelijk_reizen', data.wagenparkType)"
                                                                                     [value]="fuelType.Aandeel"></app-input-field>
                                                                   <app-input-field type="number" label="Kilometrage:"
                                                                                    [value]="fuelType.Kilometrage"
                                                                                    placeholder="7667786.78"
                                                                                    (change)="updateField($event,fuelType.field,'Kilometrage','zakelijk_reizen', data.wagenparkType)"
                                                                                    [fieldName]="fuelType.field+'Kilometrage'"
                                                                                    [fGroup]="wagenparkTypeForm"
                                                                                    unit="KM"></app-input-field>
                                                                   <app-input-field type="number" label="Consumptie:"
                                                                                    placeholder="56766.78"
                                                                                    [value]="fuelType.Consumptie"
                                                                                    (change)="updateField($event,fuelType.field,'Consumptie','zakelijk_reizen', data.wagenparkType,fuelType.Factor)"
                                                                                    [required]="true"
                                                                                    [fieldName]="fuelType.field+'Consumptie'"
                                                                                    [fGroup]="wagenparkTypeForm"
                                                                                    [unit]="fuelType.cunit"></app-input-field>
                                                                  <app-input-field type="text" label="Factor:"
                                                                                   (change)="updateField($event,fuelType.field,'Factor','zakelijk_reizen', data.wagenparkType)"
                                                                                   placeholder="2.74 kg CO2eq/ltr"
                                                                                   [fieldName]="fuelType.field+'Factor'"
                                                                                   [fGroup]="wagenparkTypeForm"
                                                                                   [value]="fuelType.Factor"
                                                                                   disabled="true"></app-input-field>
                                                                  <app-input-field type="text" label="Emissie (CO2eq):"
                                                                                   placeholder="14209,31 ton"
                                                                                   (change)="updateField($event,fuelType.field,'Emissie','zakelijk_reizen', data.wagenparkType)"
                                                                                   [fieldName]="fuelType.field+'Emissie'"
                                                                                   [fGroup]="wagenparkTypeForm"
                                                                                   [value]="fuelType.Emissie"
                                                                                   disabled="true"></app-input-field>

                                                             </div>
                                                         </div>
                                                             </span>
                                </div>

                                <div class="col-6 offset-6">
                                    <app-button type="opec" [text]="data.submitString"
                                                (click)="submitData(data)"></app-button>
                                </div>
                            </app-content-panel>

                        </div>
                        <div class="col-3 p-0 ml-5 mt-4 ">
                            <div style="display: flex; flex: 1 1 100%; flex-direction: column">
                                <app-content-panel title="Informatie over wagenpark" *ngIf="i == 0">
                                    <p>
                                    <h6><b>Definitie:</b></h6>
                                    <p>Wagenpark van eigen beheer en lease van zowel Geel en Grijs kenteken (alleen
                                        personenvervoer) opsplitst (kleiner of gelijk dan 3,5T). Er is een onderscheid
                                        gemaakt tussen geel en grijs kenteken. Voor hybride benzine/diesel vermeld
                                        fossiele brandstof zowel bij aantallen als consumptie. De fossiele brandstof mag
                                        bij de consumptie apart opgeteld worden, en de elektriciteit (kWh) van de
                                        hybride mag alleen bij de consumptie opgeteld worden NIET bij de aantallen van
                                        Elektrisch.</p>
                                    <h6><b>Berekening:</b></h6>
                                    <p>Eenheden brandtof per soort maal de betreffende emissiefactor. </p>
                                    <h6><b>Benodigdheden:</b></h6>
                                    <span>
                            <ol>
                                 <li>eenheden brandstof opvragen per soort (eventueel via
                                     leasemaatschappij)</li>
                                <li> km per jaar over wagenpark per brandstofsoort</li>
                            </ol>
                            </span>
                                </app-content-panel>
                                <app-content-panel [title]="data.total.title"
                                                   style="bottom: 0px;position: absolute;width:100%;">
                            <span class="total">
                            <p>Aantal:</p>
                            <h5>{{data.total.Aantal}}</h5>
                            <p>Kilometrage:</p>
                            <h5>{{data.total.Kilometrage}} km</h5>
                            <p>Emissie (CO2eq):</p>
                           <h5>{{data.total.Emissie}} ton</h5>
                            </span>
                                </app-content-panel>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
            <div data-tab="1">
                <form [formGroup]="woon_werkverkeer_Form">
                    <div class="row mt-3 ml-0">
                        <div class="col-8 p-0">
                            <app-panel size="5">
                                <app-input-field label="Rapportagejaar:" placeholder="2019"
                                                 [fieldName]="'Rapportagejaar'"
                                                 [fGroup]="woon_werkverkeer_Form"
                                                 (change)="updateField($event,'','year','woon_werkverkeer','')"
                                                 [value]="woon_werkverkeer[0].year"></app-input-field>
                            </app-panel>

                        </div>
                    </div>
                    <div class="row " *ngFor="let data of woon_werkverkeer; let i = index">
                        <div class="col-8 p-0 mt-4 ml-3">
                            <app-content-panel [title]="data.wagenparkType">
                                <span class="mb-2 offset-8" style="font-size: 12px">Velden met een <span class="red-star">*</span> zijn verplicht indien beschikbaar.</span>
                                <div class="row pl-4 pr-2 pb-4 pt-2">

                                                           <span *ngFor="let fuelType of data.fuelType">
                                                          <h2 class="and-h2-normal">{{fuelType.type}}</h2>
                                                            <div class="col-12">
                                                                <div class="inline-fields">
                                                                   <app-input-field type="number" label="Aantal:"
                                                                                    placeholder="Optioneel"
                                                                                    [fieldName]="fuelType.field+'aantal'"
                                                                                    [fGroup]="woon_werkverkeer_Form"
                                                                                    (change)="updateField($event,fuelType.field,'Aantal','woon_werkverkeer', data.wagenparkType)"
                                                                                    [value]="fuelType.Aantal"></app-input-field>
                                                                    <app-input-field type="text" label="Aandeel:"
                                                                                     placeholder="5747"
                                                                                     [disabled]="true"
                                                                                     [fieldName]="fuelType.field+'aandeel'"
                                                                                     (change)="updateField($event,fuelType.field,'Aandeel','woon_werkverkeer', data.wagenparkType)"
                                                                                     [fGroup]="wagenparkTypeForm"
                                                                                     [value]="fuelType.Aandeel"></app-input-field>
                                                                   <app-input-field type="number" label="Kilometrage:"
                                                                                    [value]="fuelType.Kilometrage"
                                                                                    [fieldName]="fuelType.field+'Kilometrage'"
                                                                                    [fGroup]="woon_werkverkeer_Form"
                                                                                    (change)="updateField($event,fuelType.field,'Kilometrage','woon_werkverkeer', data.wagenparkType,fuelType.Factor)"
                                                                                    placeholder="7667786.78"
                                                                                    [required]="true"
                                                                                    unit="KM"></app-input-field>
                                                                   <app-input-field type="number" label="Consumptie:"
                                                                                    placeholder="56766.78"
                                                                                    [value]="fuelType.Consumptie"
                                                                                    [fieldName]="fuelType.field+'Consumptie'"
                                                                                    [fGroup]="woon_werkverkeer_Form"
                                                                                    (change)="updateField($event,fuelType.field,'Consumptie','woon_werkverkeer', data.wagenparkType, fuelType.Factor)"
                                                                                    [unit]="fuelType.cunit"></app-input-field>
                                                                  <app-input-field type="text" label="Factor:"
                                                                                   placeholder="2.74 kg CO2eq/ltr"
                                                                                   [fieldName]="fuelType.field+'Factor'"
                                                                                   [fGroup]="woon_werkverkeer_Form"
                                                                                   [value]="fuelType.Factor"
                                                                                   disabled="true"></app-input-field>
                                                                  <app-input-field type="text" label="Emissie (CO2eq):"
                                                                                   [fieldName]="fuelType.field+'Emissie'"
                                                                                   [fGroup]="woon_werkverkeer_Form"
                                                                                   placeholder="14209,31 ton"
                                                                                   [value]="fuelType.Emissie"
                                                                                   disabled="true"></app-input-field>

                                                             </div>
                                                         </div>
                                                             </span>
                                </div>

                                <div class="col-6 offset-6">
                                    <app-button type="opec" text="Woon-werkverkeer opslaan"
                                                (click)="submitData(data)"></app-button>
                                </div>
                            </app-content-panel>

                        </div>
                        <div class="col-3 p-0 ml-5 mt-4 ">
                            <div style="display: flex; flex: 1 1 100%; flex-direction: column">
                                <app-content-panel title="Informatie over woon-werkverkeer" *ngIf="i == 0">
                                    <p>
                                    <h6><b>Definitie:</b></h6>
                                    <p> Werkelijke reiskilometers van de woonplaats naar een vaste werkplaats en terug
                                        van alle medewerkers exclusief de medewerkers met een auto uit het
                                        wagenpark.</p>
                                    <h6><b>Berekening:</b></h6>
                                    <p> De kilometers woon-werkverkeer van onze medewerkers (exclusief d.m.v. het
                                        wagenpark) verdeeld naar onze modal split (gemiddelde wijze waarop onze
                                        medewerkers van en naar hun werk komen of thuiswerken), hetgeen bepaald is
                                        middels een representatieve enquête onder medewerkers. Het aantal kilometers
                                        woon-werkverkeer is berekend aan de hand van de afstand tussen woonplaats en
                                        standplaats en het aantal werkdagen per week. Door deze afstand te
                                        vermenigvuldigen maal 2 ontstaat de retourafstand per week. Vervolgens wordt
                                        deze retourafstand vermenigvuldigd met het gemiddeld aantal werkdagen van een
                                        FTE. (max werkdagen per jaar: 260 minus gemiddeld verlofdagen: 38 minus aantal
                                        feestdagen: 7 resulteert in het gemiddeld aantal werkdagen per FTE: 215 per
                                        jaar) </p>
                                    <h6><b>Benodigdheden:</b></h6>
                                    <span>
                            <ol>
                                <li> afstand woonplaats naar vaste werkplaats per medewerkers</li>
                                <li>aantal contractdagen of FTE per medewerker</li>
                                <li> mobiliteitsenquete </li>
                                <li>Indien enquete niet mogelijk, gebruik CBS cijfers (zie: tab_4)</li>
                            </ol>
                            </span>
                                </app-content-panel>
                                <app-content-panel title="Totaal Woon-werkverkeer"
                                                   style="bottom: 0px;position: absolute;width:100%;">
                            <span class="total">
                            <p>Aantal:</p>
                            <h5>{{data.total.Aantal}}</h5>
                            <p>Kilometrage:</p>
                            <h5>{{data.total.Kilometrage}} km</h5>
                            <p>Emissie (CO2eq):</p>
                           <h5>{{data.total.Emissie}} ton</h5>
                            </span>
                                </app-content-panel>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
            <div data-tab="2">
                <form [formGroup]="declaratiesForm">
                    <div class="row mt-3">
                        <div class="col-8 ">
                            <app-panel size="5">
                                <app-input-field label="Rapportagejaar:" placeholder="2019"
                                                 [fieldName]="'Rapportagejaar'"
                                                 [fGroup]="declaratiesForm"
                                                 (change)="updateField($event,'','year','declaraties','')"
                                                 [value]="declaraties[0].year"></app-input-field>
                            </app-panel>

                        </div>
                    </div>
                    <div class="row " *ngFor="let data of declaraties; let i = index">
                        <div class="col-8  mt-4">
                            <app-content-panel [title]="data.wagenparkType">
                                <span class="mb-2 offset-8" style="font-size: 12px">Velden met een <span class="red-star">*</span> zijn verplicht indien beschikbaar.</span>
                                <div class="row pl-4 pr-2 pb-4 pt-2">
                                                           <span *ngFor="let fuelType of data.fuelType">
                                                          <h2 class="and-h2-normal">{{fuelType.type}}</h2>
                                                            <div class="col-12">
                                                                <div class="inline-fields">
                                                                   <app-input-field type="number" label="Aantal:"
                                                                                    [fieldName]="fuelType.field+'aantal'"
                                                                                    [fGroup]="declaratiesForm"
                                                                                    placeholder="5747"
                                                                                    (change)="updateField($event,fuelType.field,'Aantal','declaraties', data.wagenparkType)"
                                                                                    [value]="fuelType.Aantal"></app-input-field>
                                                                    <app-input-field type="text" label="Aandeel:"
                                                                                     placeholder="5747"
                                                                                     (change)="updateField($event,fuelType.field,'Aandeel','declaraties', data.wagenparkType)"
                                                                                     [disabled]="true"
                                                                                     [fieldName]="fuelType.field+'aandeel'"
                                                                                     [fGroup]="wagenparkTypeForm"
                                                                                     [value]="fuelType.Aandeel"></app-input-field>
                                                                   <app-input-field type="number" label="Kilometrage:"
                                                                                    [value]="fuelType.Kilometrage"
                                                                                    (change)="updateField($event,fuelType.field,'Kilometrage','declaraties', data.wagenparkType, fuelType.Factor)"
                                                                                    [fieldName]="fuelType.field+'Kilometrage'"
                                                                                    [fGroup]="declaratiesForm"
                                                                                    [required]="true"
                                                                                    placeholder="7667786.78"
                                                                                    unit="KM"></app-input-field>
                                                                   <app-input-field type="number" label="Consumptie:"
                                                                                    [value]="fuelType.Consumptie"
                                                                                    [fieldName]="fuelType.field+'Consumptie'"
                                                                                    [fGroup]="declaratiesForm"
                                                                                    (change)="updateField($event,fuelType.field,'Consumptie','declaraties', data.wagenparkType)"
                                                                                    placeholder="56766.78"
                                                                                    [unit]="fuelType.cunit"></app-input-field>
                                                                  <app-input-field type="text" label="Factor:"
                                                                                   placeholder="2.74 kg CO2eq/ltr"
                                                                                   [value]="fuelType.Factor"
                                                                                   [fieldName]="fuelType.field+'Factor'"
                                                                                   [fGroup]="declaratiesForm"
                                                                                   disabled="true"></app-input-field>
                                                                  <app-input-field type="text" label="Emissie (CO2eq):"
                                                                                   [fieldName]="fuelType.field+'Emissie'"
                                                                                   [fGroup]="declaratiesForm"
                                                                                   (change)="updateField($event,fuelType.field,'Emissie','declaraties', data.wagenparkType)"
                                                                                   placeholder="14209,31 ton"
                                                                                   [value]="fuelType.Emissie"
                                                                                   disabled="true"></app-input-field>

                                                             </div>
                                                         </div>
                                                             </span>
                                </div>

                                <div class="col-6 offset-6">
                                    <app-button type="opec" [text]="data.submitstring"
                                                (click)="submitData(data)"></app-button>
                                </div>
                            </app-content-panel>


                        </div>
                        <div class="col-3 p-0 ml-5 mt-4 " *ngIf="data.intro && data.intro.content">
                            <app-content-panel [title]="data.intro.title">

                            <span *ngFor="let item of data.intro.content">
                                <h6><b>{{item.title}}</b></h6>
                                <span *ngIf="item.type === 'para'">
                                    <p *ngFor="let para of item.text">
                                         {{para}}
                                    </p>
                                </span>
                                  <span *ngIf="item.type === 'list'">
                                      <ol>
                                      <li *ngFor="let para of item.text">
                                         {{para}}
                                    </li>
                                          </ol>
                                  </span>
                            </span>
                            </app-content-panel>
                        </div>
                        <div class="col-3 p-0 ml-5 mt-4 ">
                            <div style="display: flex; flex: 1 1 100%; flex-direction: column">
                                <app-content-panel title="Informatie over declaraties (auto) kilometers" *ngIf="i == 0">
                                    <h6><b>Definitie:</b></h6>
                                    <p>Variabele vergoedingen van de werkgever voor een privevervoermiddel voor zakelijk
                                        verkeer (excl. woon-werkverkeer vaste vergoeding) </p>
                                    <h6><b>Berekening:</b></h6>
                                    <p>De hoeveelheden voor het zakelijke verkeer worden berekend o.b.v. de
                                        gedeclareerde kosten en de vergoeding per gedeclareerde kilometer (0,XX €/km).
                                        De verdeling naar brandstof vindt plaats o.b.v. de brandstofverdeling vanuit CBS
                                        / de mobiliteitsenquête / andere vorm. (brandstof onbekend als data niet
                                        beschikbaar) </p>
                                    <h6><b>Benodigdheden:</b></h6>
                                    <ol>
                                        <li>Het aantal vergoede kilometers of werkelijke vergoedingen voor
                                            zakelijk verkeer (excl woon--werkverkeer).
                                        </li>
                                    </ol>
                                    <span>
                            </span>
                                </app-content-panel>
                                <app-content-panel [title]="data.total.title"
                                                   style="bottom: 0px;position: absolute;width:100%;"
                                                   *ngIf="data.total">
                            <span class="total">
                           <p>Aantal:</p>
                            <h5>{{data.total.Aantal}}</h5>
                            <p>Kilometrage:</p>
                            <h5>{{data.total.Kilometrage}} km</h5>
                            <p>Emissie (CO2eq):</p>
                           <h5>{{data.total.Emissie}} ton</h5>
                            </span>
                                </app-content-panel>
                            </div>
                        </div>

                    </div>
                    <div class="row ml-1">

                        <div class="col-4 p-0">
                            <app-content-panel title="5. Vliegen - DEFRA" [fullTitleBar]="true">
                            <span *ngFor="let data of vliegen_defra.fuelType;">
                               <h2 class="and-h2-normal">{{data.type}}</h2>
                            <div class="inline-fields">
                                <app-input-field type="number" label="Kilometrage:"
                                                 placeholder=""
                                                 [disabled]="vliegen_defra_disable"
                                                 [fieldName]="data.field+'Kilometrage'"
                                                 [fGroup]="declaratiesForm"
                                                 (change)="updateField($event,data.field,'Kilometrage','DEFRA', data.type, data.Factor)"
                                                 [value]="data.Kilometrage"></app-input-field>
                                <app-input-field type="text" label="Factor:"
                                                 placeholder="2.74 kg CO2eq/ltr"
                                                 [fieldName]="data.field+'Factor'"
                                                 [fGroup]="declaratiesForm"
                                                 [value]="data.Factor"
                                                 disabled="true"></app-input-field>
                                <app-input-field type="text" label="Emissie (CO2eq):"
                                                 placeholder="14209,31 ton"
                                                 [fieldName]="data.field+'Emissie'"
                                                 [fGroup]="declaratiesForm"
                                                 [value]="data['Emissie']"
                                                 disabled="true"></app-input-field>
                            </div>
                            </span>
                                <div class="col-10 offset-1">
                                    <app-button type="opec" text="Vliegen (DEFRA) opslaan"
                                                (click)="submitData(vliegen_defra)" [disabled]="vliegen_defra_disable"></app-button>
                                </div>
                            </app-content-panel>

                        </div>
                        <div class="col-4 p-0 ml-3">
                            <app-content-panel title="5. Vliegen" [fullTitleBar]="true">

                            <span *ngFor="let data of vliegen.fuelType;">
                               <h2 class="and-h2-normal">{{data.type}}</h2>
                            <div class="inline-fields">
                                <app-input-field type="number" label="Kilometrage:"
                                                 placeholder=""
                                                 [disabled]="vliegen_disable"
                                                 [fieldName]="data.field+'Kilometrage'"
                                                 (change)="updateField($event,data.field,'Kilometrage','Vliegen', data.type, data.Factor)"
                                                 [fGroup]="declaratiesForm"
                                                 [value]="data.Kilometrage"></app-input-field>
                                <app-input-field type="text" label="Factor:"
                                                 placeholder="2.74 kg CO2eq/ltr"
                                                 [fieldName]="data.field+'Factor'"
                                                 [fGroup]="declaratiesForm"
                                                 [value]="data.Factor"
                                                 disabled="true"></app-input-field>
                                <app-input-field type="text" label="Emissie (CO2eq):"
                                                 [fieldName]="data.field+'Emissie'"
                                                 [fGroup]="declaratiesForm"
                                                 placeholder="14209,31 ton"
                                                 [value]="data['Emissie']"
                                                 disabled="true"></app-input-field>
                            </div>

                            </span>
                                <div class="col-10 offset-1">
                                    <app-button type="opec" text="Vliegen opslaan"
                                                (click)="submitData(vliegen)" [disabled]="vliegen_disable"></app-button>
                                </div>

                            </app-content-panel>
                            <div class="col-8 offset-4 mt-3 p-0">
                                <span class="total">
                                    <app-content-panel [title]="vliegenTotal.title">
                            <p>Kilometrage:</p>
                            <h5>{{vliegenTotal.Kilometrage}} km</h5>
                            <p>Emissie (CO2eq):</p>
                           <h5>{{vliegenTotal.Emissie}} ton</h5>
                                        </app-content-panel>
                            </span>
                            </div>
                        </div>
                        <div class="col-3">
                            <app-content-panel title="Informatie over vliegen">
                                <p>
                                    <b>Definitie:</b> kilometrage van de zakelijke vluchten. Sommige bedrijven werken met Nederlandse cijfers van de C02 emissiefactoren en sommige hanteren de internationale DEFRA eenheden. Kies de maatstaaf die logisch is voor jouw organisatie.
                                </p>
                                <p>
                                    <b>Berekening:</b> aantal kilometers per categorie maai de betreffende emissiefactor. Mocht je C02 Emissiefactoren hanteren, deze heeft geen businessclass, we houden momenteel voor Business vluchten een Factor: 3x aan.
                                </p>
                                <p>
                                    <b>Benodigdheden:</b> kilometers per categorie zakelijke vluchten.
                                </p>
                            </app-content-panel>
                        </div>
                    </div>
                </form>
            </div>
        </app-tab-panel>

    </div>

</div>
