<div>
    <form>
        <app-input-field label="Email" placeholder="sample@some.com" type="email"></app-input-field>
        <app-input-field label="Password" placeholder="*******" type="password"></app-input-field>
        <div class="mt-3">
            <app-button type="opec" text="Inloggen" (click)="goto('user')"></app-button>
        </div>
        <app-separator></app-separator>
        <div class="mt-3">
            <app-button text="Registreren" (click)="goto('signup')"></app-button>
        </div>
    </form>
</div>
