input {
  width: 100%;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  padding: 3px 9px;
  font-family: lato-regular;
  max-width: 450px ;
  height: 45px;
  margin-bottom: 10px;
}
label {
  color: #373A3C;
  font-size: 16px;
  font-family: lato-regular;
  margin-bottom: 3px;
}
