<div class="into-container">
    <div class="row">
        <h1 class="and-h1-normal">Introductie</h1>
    </div>
    <div class="row">
        <app-content-panel title="Scope" [hideTitleBar]="true">
            <p>Welkom bij de online omgeving voor de mobiliteit footprint van Anders Reizen. Deze tool kan je gebruiken
                om
                de C02 footprint per medewerker te berekenen. Het kan voorkomen dat sommige data niet beschikbaar is of
                dat
                binnen jullie bedrijf geen gebruik gemaakt wordt van sommige categorieën (Bijv. Bio-CNG). Laat deze
                graag
                leeg of vul 0 in. Het uitgangspunt is dat je probeert zoveel mogelijk data in te vullen. Beginnend bij
                het
                basisjaar 2016, indien niet beschikbaar, start bij het eerstvolgende beschikbare jaar. Alle data wordt
                opgeslagen op jullie bedrijfsaccount. Per bedrijf kan er maar één account aangemaakt worden. Deze data
                kan
                alleen door jullie eigen account bekeken worden en door de leden van het programma team van Anders
                Reizen.
                Verder wordt deze data niet gedeeld. De data wordt opgeslagen op een beveiligde server. Deze data wordt
                gebruikt om een rapportage te maken om jullie inzicht te geven in jullie C02 uitstoot. Wanneer er meer
                data
                ingevuld wordt, hoe beter de uiteindelijke rapportage wordt. Vul graag voor elk (rapportage)jaar de
                mobiliteit footprint in. Je vult een jaar in en deze wordt opgeslagen in een database. Vervolgens kan je
                dit
                nogmaals doen voor een ander jaar.</p>
            <p></p>
            <h6><b>Scope</b></h6>

            <p style="padding-left: 0px">De scope is personenvervoer voor woon-werkverkeer en zakelijk
                verkeer voor de Nederlandse activiteiten van een bedrijf. Onder personenvervoer vallen alle
                modaliteiten,
                zoals het openbaar vervoer, fiets, vliegtuig, auto, et cetera. Voor personenvervoer met de auto geldt
                dat
                zowel geel als grijs kentekens auto’s in scope zijn, waarbij voor grijze kentekens een maximum geldt van
                3500 kg en uit scope is wanneer het voertuig ingezet wordt voor goederentransport.</p>
            <p>Vragen? Neem dan contact op via <a href="mailto:nigel.vanderweerd@andersreizen.nu">nigel.vanderweerd@andersreizen.nu</a>
            </p>
        </app-content-panel>
    </div>
    <div class="row ">
        <div class="col-3 p-0">
            <app-content-panel title="Doel">
                <p>Iedere organisatie die zich aansluit bij de Coalitie Anders Reizen tekent de Dutch Sustainable
                    Mobility Pledge. Deze pledge zet de ambitie voor de koplopers om een shift te maken naar een
                    duurzaam(er) mobiliteitsbeleid als mogelijke oplossing tegen klimaatverandering. Deze ambitie komt
                    voort uit de afspraken die gemaakt zijn in de klimaatakkoorden van Parijs in 2016. Elk bedrijf
                    committeert zich aan het doel om hun C02 uitstoot in de mobiliteit met 50% te reduceren in
                    2030.<br/> Ieder lid heeft hierin vier acties te ondernemen:</p>
                <ol>
                    <li>Actief maatregelen te nemen om de eigen CO2-uitstoot te reduceren;</li>
                    <li>Actief hierover te communiceren binnen de organisatie om de bewustwording over en acceptatie van
                        duurzame mobiliteit te vergroten;
                    </li>
                    <li>Belemmeringen te signaleren en indien nodig, aan de overheid kenbaar te maken;</li>
                    <li>Andere bedrijven te stimuleren hetzelfde te doen.</li>
                </ol>
            </app-content-panel>
        </div>
        <div class="col-9">
            <app-content-panel title="Uw bedrijfsgegevens">
                <div [ngClass]="alertType === 'FAIL' ? 'alert alert-danger': 'alert alert-success'" role="alert"
                     *ngIf="showAlter">
                    <p>{{alertMessage}}</p>
                </div>
                <form [formGroup]="profileForm" (ngSubmit)="saveCompanyDetails()">
                    <div class="row">
                        <div class="col-6">

                            <div class="inline-fields">
                                <app-input-field type="text" label="E-mail:" [value]="profileField.email"
                                                 (change)="updatefields($event,'email')"
                                                 placeholder="Johndoe@cgi.com" [fGroup]="profileForm" [required]="true"
                                                 fieldName="email"></app-input-field>
                                <app-input-field type="text" label="Telefoon:" placeholder="0612345678"
                                                 [value]="profileField.telephone" [fGroup]="profileForm"
                                                 [required]="true"
                                                 fieldName="telefone"
                                                 (change)="updatefields($event,'telephone')"></app-input-field>
                            </div>
                            <app-input-field type="text" label="Naam bedrijf of vestiging:"
                                             [value]="profileField.companyName"
                                             [fGroup]="profileForm" [required]="true"

                                             fieldName="naam_bedrijf"
                                             (change)="updatefields($event,'companyName')"
                                             placeholder="CGI"></app-input-field>
                            <app-input-field type="text" label="Branch/type organisatie:"
                                             [value]="profileField.companyType"
                                             (change)="updatefields($event,'companyType')"
                                             [fGroup]="profileForm" [required]="true"
                                             fieldName="branch"
                                             placeholder="IT Consultancy"></app-input-field>
                            <app-input-field type="text" label="Gemiddeld FTE per jaar:"
                                             [value]="profileField.averageFte"
                                             (change)="updatefields($event,'averageFte')"
                                             [fGroup]="profileForm"
                                             fieldName="fte"
                                             placeholder="1587689"></app-input-field>
                            <app-input-field type="text" label="Gemiddeld aantal auto's per jaar:"
                                             [value]="profileField.carsAverage"
                                             (change)="updatefields($event,'carsAverage')"
                                             [fGroup]="profileForm"
                                             fieldName="aantal"
                                             placeholder="1587689"></app-input-field>
                            <app-input-field type="text" label="Ingevuld door:" placeholder="John Doe"
                                             [value]="profileField.filledByName"
                                             [fGroup]="profileForm" [required]="true"
                                             fieldName="ingevuld_door"
                                             (change)="updatefields($event,'filledByName')"></app-input-field>
                        </div>
                        <div class="col-6">
                            <app-input-field type="date" label="Datum:" placeholder="28-05-2020"
                                             [value]="profileField.date"
                                             [fGroup]="profileForm" [required]="true"
                                             fieldName="datum"
                                             (change)="updatefields($event,'date')"></app-input-field>
                            <app-input-field type="text" label="Vestigingen:" [value]="profileField.location"
                                             (change)="updatefields($event,'location')"
                                             [fGroup]="profileForm"
                                             fieldName="vestigingen"
                                             placeholder="Amsterdam, Rotterdam"></app-input-field>
                            <app-input-field type="number" label="Reiskosten vergoeding woonwerk:"
                                             [value]="profileField.travelAllowance"
                                             [fGroup]="profileForm"
                                             fieldName="resikosten_vergoeding"
                                             (change)="updatefields($event,'travelAllowance')"
                                             placeholder="856"></app-input-field>
                            <app-input-field type="number" label="Reiskosten vergoeding zakelijk verkeer:"
                                             [value]="profileField.businessTrafficAllowance"
                                             (change)="updatefields($event,'businessTrafficAllowance')"
                                             [fGroup]="profileForm"
                                             fieldName="resikosten_vergoeding_zakelijk"
                                             placeholder="984"></app-input-field>
                            <app-textarea label="Voor het Leasewagenpark:"
                                          placeholder="Corrigeer je voor de rapportage voor privegebruik? Geef toelichting"
                                          [value]="profileField.description"
                                          [fGroup]="profileForm"
                                          (change)="updatefields($event,'description')"></app-textarea>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                        </div>
                        <div class="col-6">
                            <app-button type="opec" text="Opslaan" *ngIf="!this.profileStatus"></app-button>
                            <app-button type="opec" text="Bijwerken" *ngIf="this.profileStatus"></app-button>
                        </div>
                    </div>
                </form>

            </app-content-panel>
        </div>
    </div>
</div>
