button {
  width: 100%;
  border: 1px solid #1C7CD5;
  border-radius: 4px;
  color: #fff;
  font-size: 13px;
  font-family: lato-regular;
  max-width: 450px ;
  height: 45px;
}
.opec {
  background: #0B3C82 0% 0% no-repeat padding-box;
}
.transparent {
  color: #0B3C82;
  font-family: lato-regular;
  border: 2px solid #0B3C82;
  border-radius: 4px;
}
