<div class="cbs-numbers-container mt-4 ml-4 ml-2">
    <div class="row">
        <h1 class="and-h1-normal">CBS Cijfers</h1>
    </div>
    <div class="row mt-3 ">
        <div class="col-5">
            <app-content-panel title="Woon-werkverkeer (gem Nederlandse standaard verdeling)">
                <div class="row p-2">
                <h6>NL Gem. Woonwerk / zakelijk verkeer</h6>
                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <td>Benzine</td>
                            <td>40%</td>
                        </tr>
                        <tr>
                            <td>Diesel</td>
                            <td>7%</td>
                        </tr>
                        <tr>
                            <td>Hybride</td>
                            <td>2%</td>
                        </tr>
                        <tr>
                            <td>LPG</td>
                            <td>0%</td>
                        </tr>
                        <tr>
                            <td>EV</td>
                            <td>0%</td>
                        </tr>
                        <tr>
                            <td>Carpool</td>
                            <td>23%</td>
                        </tr>
                        <tr>
                            <td>Motor/scooter</td>
                            <td>6%</td>
                        </tr>
                        <tr>
                            <td>Fietsen/lopen</td>
                            <td>10%</td>
                        </tr>
                        <tr>
                            <td>Trein</td>
                            <td>10%</td>
                        </tr>
                        <tr>
                            <td>Bus/Tram/metro</td>
                            <td>3%</td>
                        </tr>
                        <tr>
                            <td>Vermeden door thuiswerken</td>
                            <td>0%</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </app-content-panel>
        </div>

    </div>
</div>
